<section>
  <div class="center bg-main-light" *ngIf="section1">
    <h1 class="head">forget password</h1>
    <form [formGroup]="forgetForm" (ngSubmit)="handleForget()">
      <div class="mb-2">
        <label class="text-main" for="email">Email :</label>
        <input id="email" type="email" formControlName="email" class="form-control">
        <div *ngIf="forgetForm.get('email')?.errors && (forgetForm.get('email')?.touched)">
          <p class="text-danger small" *ngIf="forgetForm.get('email')?.getError('required')"><i
              class="fas fa-warning"></i> Email is required</p>
          <p class="text-danger small" *ngIf="forgetForm.get('email')?.getError('email')"><i class="fas fa-warning"></i>
            Invlaid email</p>
        </div>
      </div>

      <div class="my-3 d-flex justify-content-between align-items-center">
        <p class="text-danger small flex-grow-1" *ngIf="msgErr">{{msgErr}}</p>
        <button [disabled]="forgetForm.invalid" class="main-btn d-block ms-auto"><i *ngIf="isloading"
            class="fas fa-spinner fa-spin"></i> Submit</button>
      </div>
    </form>
  </div>
  <div class="center bg-main-light" *ngIf="section2">
    <h1 class="head">Forget password</h1>
    <form [formGroup]="resetCodeForm" (ngSubmit)="handleresetCode()">
      <div class="mb-2">
        <label class="text-main" for="email">Reset code :</label>
        <input id="resetCode" type="resetCode" formControlName="resetCode" class="form-control">
        <div *ngIf="forgetForm.get('resetCode')?.errors && (forgetForm.get('resetCode')?.touched)">
          <p class="text-danger small" *ngIf="forgetForm.get('resetCode')?.getError('required')"><i
              class="fas fa-warning"></i> Reset code is required</p>
          <p class="text-danger small" *ngIf="forgetForm.get('resetCode')?.getError('pattern')"><i
              class="fas fa-warning"></i>
            Invlaid code</p>
        </div>
      </div>

      <div class="my-3 d-flex justify-content-between align-items-center">
        <p class="text-danger small flex-grow-1" *ngIf="msgErr">{{msgErr}}</p>
        <button [disabled]="resetCodeForm.invalid" class="main-btn d-block ms-auto"><i *ngIf="isloading"
            class="fas fa-spinner fa-spin"></i> Submit</button>
      </div>
    </form>
  </div>
  <div class="center bg-main-light" *ngIf="section3">
    <h1 class="head">forget password</h1>
    <form [formGroup]="resetPassForm" (ngSubmit)="handleresetPass()">
      <div class="mb-2">
        <label class="text-main" for="email">Email :</label>
        <input id="email" type="email" formControlName="email" class="form-control">
        <div *ngIf="resetPassForm.get('email')?.errors && (resetPassForm.get('email')?.touched)">
          <p class="text-danger small" *ngIf="resetPassForm.get('email')?.getError('required')"><i
              class="fas fa-warning"></i> Email is required</p>
          <p class="text-danger small" *ngIf="resetPassForm.get('email')?.getError('email')"><i
              class="fas fa-warning"></i>
            Invlaid email</p>
        </div>
      </div>
      <div class="mb-2">
        <label class="text-main" for="newPassword">New password :</label>
        <input id="newPassword" type="password" formControlName="newPassword" class="form-control">
        <div *ngIf="resetPassForm.get('newPassword')?.errors && (resetPassForm.get('newPassword')?.touched)">
          <p class="text-danger small" *ngIf="resetPassForm.get('newPassword')?.getError('required')"><i
              class="fas fa-warning"></i> newPassword is required</p>
          <p class="text-danger small" *ngIf="resetPassForm.get('newPassword')?.getError('pattern')"><i
              class="fas fa-warning"></i>
            Start with capital letter, (A-Z or a-z) and numbers(0-9), 6 to 10 Characters</p>
        </div>
      </div>

      <div class="my-3 d-flex justify-content-between align-items-center">
        <p class="text-danger small flex-grow-1" *ngIf="msgErr">{{msgErr}}</p>
        <button [disabled]="resetPassForm.invalid" class="main-btn d-block ms-auto"><i *ngIf="isloading"
            class="fas fa-spinner fa-spin"></i> Submit</button>
      </div>
    </form>
  </div>
</section>