$bg-main-light: #f0f3f2;
$bg-main: #0aad0a;
$shadow: $bg-main 0px 0px 5px 1px;
$font: "Fira Sans", sans-serif;
$time: 0.5s;

// global
p {
  margin-bottom: 0;
}

.head {
  text-align: center;
  font-weight: bolder;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.cursor-pointer {
  cursor: pointer;
}

.middle-page {
  min-height: 60vh;
  display: flex;
  align-items: center;
  margin-block: 3rem;
}

a {
  color: inherit;
}
.nav-link {
  border-radius: 0.5rem;
  padding-inline: 1rem !important;
  padding-block: 0.5rem;
  color: black;
}
.active-link {
  background-color: $bg-main;
  text-align: center;
  color: white !important;
}
.form-control {
  border: 0;
  &:focus {
    box-shadow: $bg-main 0px 1px 2px, $bg-main 0px 0px 0px 2px;
    border: 0;
  }
}
.bg-main-light {
  background-color: $bg-main-light;
}
.product {
  border-radius: 10px;
  transition: box-shadow $time;
  overflow: hidden;
  position: relative;
  .love {
    position: absolute;
    top: 4%;
    right: 4%;
  }
  button {
    transform: translateY(200%);
    transition: transform $time;
  }
  &:hover {
    box-shadow: $shadow;
    button {
      transform: translateY(0);
    }
  }
}
.main-btn {
  background-color: $bg-main;
  border: 0;
  color: white;
  padding: 7px 20px !important;
  border-radius: 0.3rem;
  cursor: pointer;
  padding-block: 0.6rem;
  transition: background-color 0.3s;
  &:hover {
    background-color: #0d790d;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: #ccc;
    color: black;
  }
}
.text-main {
  color: $bg-main;
}
.text-small {
  font-size: 12px;
}
.center {
  margin-inline: auto;
  margin-block: 1.5rem;
  width: 90%;
  border-radius: 0.5rem;
  padding: 1.3rem;
}
html {
  font-size: 14px;
}
// media
@media screen and (min-width: 576px) {
  .center {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .center {
    width: 75%;
  }
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  .center {
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .center {
    width: 60%;
  }
}
